body {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: 'Arial Narrow', 'Franklin Gothic Medium', Arial, sans-serif;
  line-height: 1.5;
  background-color: #dde6f1;
}
/* -- header -- */
header {
  background-color: rgb(19, 50, 59);
  background-image: linear-gradient(#13323b, #1c8dff);
}
.container1 {
  margin: 0 auto;
  width: 95%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.hidden-icons img {
  width: 20px;
}
.date {
  color: #f3f3f3;
  font-size: small;
  align-self: flex-end;
}
/* -- Nav bar -- */
nav {
  background-color: rgb(28, 141, 255);
  background-image: linear-gradient(#1c8dff, #13323b);
  display: none;
}
.container2 {
  margin: 0 auto;
  width: 95%;
}
ul.nav-container {
  display: flex;
  padding: 0;
  justify-content: space-between;
}
.nav-container li {
  list-style: none;
  padding-left: 5px;
}
.nav-container a {
  text-decoration: none;
  color: rgb(19, 50, 59);
  font-weight: 500;
}
.nav-container a:hover {
  background-color: rgb(19, 50, 59);
  color: rgb(28, 141, 255);
}
.search-button {
  display: none;
}
.search-button input {
  border: 1px solid rgb(19, 50, 59);
  border-radius: 4px;
  box-sizing: border-box;
}
.search-button button {
  border: 1px solid rgb(19, 50, 59);
  border-radius: 4px;
  box-sizing: border-box;
  width: 22px;
  background-image: url(../img/lupa.png);
  background-size: 16px;
  background-repeat: no-repeat;
  background-position: center;
}
/* -- publicity -- */
.publicity {
  margin-top: 20px;
}
.publicity img {
  width: 100%;
}
/* -- main new -- */
.container3 {
  margin: 0 auto;
  max-width: 425px;
  width: 90%;
}
.container3 img {
  width: 100%;
}
.section-content {
  text-decoration: none;
}
.box1 {
  background: rgb(19, 50, 59);
  color: white;
  padding: 0 10px;
}
.box1 h1 {
  font-size: 17px;
  margin: 0;
}
.box1 h1:hover {
  color: rgb(28, 141, 255);
  text-decoration: underline;
}
.box1 p {
  font-size: 14px;
  margin: 0;
}
.box1 p:hover {
  color: rgb(28, 141, 255);
  text-decoration: underline;
}
/* -- opinion -- */
.opinion {
  display: none;
  flex-direction: column;
  padding: 10px;
  line-height: 15px;
  border: 1px #858585 solid;
  background-color: ghostwhite;
}
.opinion ul {
  padding: 0;
}
.opinion li {
  list-style: none;
  border-bottom: 1px #858585 solid;
  padding-top: 5px;
}
.opinion a {
  text-decoration: none;
}
.opinion-style {
  color: rgb(19, 50, 59);
  font-size: larger;
  font-style: italic;
  text-decoration: underline;
}
.opinion-title {
  color: rgb(19, 50, 59);
  font-weight: 600;
}
.author {
  color: rgb(59, 83, 90);
  font-size: small;
  margin: 5px 0;
}
.opinion-p {
  margin: 5px 0;
  color: rgb(19, 50, 59);
}
/*  -- weather box -- */
.weather {
  display: none;
  width: 95%;
}
.weather img {
  margin: 10px;
}
/* -- secondary news -- */
.box2 {
  padding: 0;
}
.box2 li {
  list-style: none;
  margin: 10px 0;
}
.box2 a {
  display: flex;
  font-size: 14px;
  align-items: center;
  text-decoration: none;
  color: rgb(19, 50, 59);
  font-weight: 600;
}
.box2 a:hover {
  text-decoration: underline;
  color: rgb(28, 141, 255);
}
.box2 img {
  width: 45%;
  margin-right: 5px;
}
/* -- only title news -- */
.more {
  border-top: 2px rgb(28, 141, 255) solid;
  margin-bottom: 20px;
}
.more h2 {
  color: rgb(19, 50, 59);
  margin-bottom: 10px;
}
.more ul {
  padding-left: 7%;
}
.more li {
  margin-bottom: 10px;
}
.more a {
  color: rgb(19, 50, 59);
}
.more a:hover {
  color: rgb(28, 141, 255);
  text-decoration: underline;
}
.read {
  text-decoration: none;
  color: rgb(19, 50, 59);
  font-weight: 600;
}
.read:hover {
  background-color: rgb(19, 50, 59);
  color: rgb(28, 141, 255);
}
/* -- contact -- */
.contact {
  border-top: 2px rgb(28, 141, 255) solid;
  border: 2px rgb(27 59 90) solid;
  background-image: linear-gradient(#3fd4ff, #1c8dff);
  margin: 10px 0px;
  padding: 10px;
}
.box3 {
  margin-top: 20px;
  color: rgb(19, 50, 59);
  font-size: 20px;
  font-weight: 600;
}
/* -- form -- */
.box4 ul {
  padding: 0;
}
.box4 li {
  list-style: none;
  display: flex;
  flex-direction: column;
}
.box4 label {
  color: rgb(19, 50, 59);
}
.box4 input {
  border: 1px solid rgb(19, 50, 59);
  border-radius: 4px;
  box-sizing: border-box;
}
.box4 textarea {
  border: 1px solid rgb(19, 50, 59);
  border-radius: 4px;
  box-sizing: border-box;
}
.button {
  border: 1px solid rgb(19, 50, 59);
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 10px;
  width: 25%;
}
.button:hover {
  border: 1px solid rgb(28, 141, 255);
}
/* -- footer -- */
footer {
  /* background-color: rgb(28, 141, 255); */
  border-top: 2px rgb(19, 50, 59) solid;
  background-image: linear-gradient(#13323b, #1c8dff);
}
.container4 {
  display: flex;
  margin: 0 auto;
  width: 90%;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px rgb(19, 50, 59) solid;
}
.icon img {
  width: 25px;
}
.container5 {
  display: flex;
  margin: 0 auto;
  width: 90%;
  padding: 0;
  flex-wrap: wrap;
}
.container5 li {
  width: 33.33%;
  list-style-position: inside;
}
.container5 a {
  text-decoration: none;
  color: rgb(19, 50, 59);
  font-size: 17px;
}
.container5 a:hover {
  text-decoration: underline;
}
footer p {
  margin: 0 auto;
  width: 90%;
  font-size: 11px;
  color: rgb(19, 50, 59);
}
